.App {
  text-align: center;
}

.conteiner{
  width: max(50vw, 300px);
  margin: 20px auto;
  border: 1px solid red;
  border-radius: 20px;
}

.item_title{
  cursor: grab;
}

.hidden{
  display: none;
}

.item_text{
   min-width: 100%;
   min-height: 100%;
   background: rgba(0, 0, 0, 0.459);
   position: sticky;
   top: 0px;
   left: 0px;
   color: white;
   font-size: 16px;
   font-style: italic;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text_body{
  padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    background: rgb(97, 95, 95);
}